body{
    font-family: 'Inter',sans-serif;
    overflow: hidden;
    
    }


.overlayStyle{
    position: absolute; 
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(16,26,61,1) 50%, rgba(33,17,44,1) 100%);
    top: 0%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eee;
    font-size: xx-large;
}
    @keyframes Slide_up{
        0%{transform: translateY(250px);}
        100%{transform: translateY(0)}
    }
    h1 {
        animation: Slide_up 1.4s ease;
        vertical-align: top;
        transition: opacity 0.3s;
        -webkit-transition: opacity 0.3s;
        opacity: 1;
    }
    span {
        animation: Slide_up 2.2s ease;
    
        vertical-align: top;
        transition: opacity 0.3s;
        -webkit-transition: opacity 0.3s;
        opacity: 1;
          
    }
    span:hover {
        opacity: 0.2;
      }
      h1:hover {
        opacity: 0.2;
      }
     .newStyle {
        background: rgb(0,0,0);
     }

    